@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: "FlowNote";
  default: true;
  prefersdark: false;
  color-scheme: "dark";
  --color-base-100: #0d0d0d;
  --color-base-200: #161616;
  --color-base-300: #1f1f1f;
  --color-base-content: oklch(98% 0.003 247.858);
  --color-primary: #3a7dff;
  --color-primary-content: #ffffff;
  --color-secondary: #7f7fb0;
  --color-secondary-content: oklch(98% 0 0);
  --color-accent: #6ea8ff;
  --color-accent-content: #0d0d0d;
  --color-neutral: #d1d5db;
  --color-neutral-content: #0d0d0d;
  --color-info: #3abff8;
  --color-info-content: #0d0d0d;
  --color-success: #36d399;
  --color-success-content: #0d0d0d;
  --color-warning: #fbbd23;
  --color-warning-content: #0d0d0d;
  --color-error: #f87272;
  --color-error-content: #ffffff;
  --radius-selector: 0.5rem;
  --radius-field: 2rem;
  --radius-box: 1rem;
  --size-selector: 0.25rem;
  --size-field: 0.25rem;
  --border: 1px;
  --depth: 1;
  --noise: 0;
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fade-in {
  animation: fade-in 0.2s ease-out;
}
